@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

:root {
    --primary-color: #F87171;
    ;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    /* background-color: #FCA5A5; */
    background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
    
}
* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

nav {
    /* background-color: rgb(251, 255, 0); */
    background:
radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
background-size: 40px 60px;
    text-align: center;
    /* border-radius: 1.5rem; */
    border-top-left-radius:1.5rem; 
    border-bottom-right-radius:1.5rem;
    /* padding:1rem; */
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 60%;
    min-height: 20px;
    height: 150px;
    margin-top: 2rem;
    font-size: large;
    border: 3px solid black;
    font-family: inherit;
    margin: auto;
}

button {
    display: block;
    margin: auto;
    padding: 10px;
    font-size: larger;
    width: 20%;
    border-radius: 4px;
    background-color: #c7342f;
}

#translate-output {
    width: 60%;
    padding: 2rem;
    border: 3px solid black;
    margin: auto;
    height: 150px;
    overflow: scroll;
    background-color: white;

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
    /* background-color:#A78BFA; */
    text-align: center;
    border-top-left-radius:1.5rem; 
    border-bottom-right-radius:1.5rem; 
}

